
.body {
  margin: 0;
  background-color: #0000004d;

}
.nav { 
  background-color:rgba(245, 238, 238, 0.393);
  color: white;
  display:flex;
  align-items: center ;
  padding: 5px;
  padding-left : 120px ;
  gap: 40px;
}
.nav a {
  color:inherit ;
  text-decoration:solid;
}
.nav ul {
  padding-bottom :0px ;
  list-style-type:none;
  display: flex;
  justify-content:center;
  text-align: center;
  margin-top: 0px;
  gap: 40px;
}
.nav li
{
  border-left:3px solid;
  padding-left: 15px ;
  font-weight:700;
  font-size:x-large;
}
.nav li:hover
{
  background-color: #09A79D;
  border-style:solid;
  border-color:#09A79D;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.nav li.active {
  background-color: #09A79D;
  border-style:solid;
  border-color: black;
  border-width:   1px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-inline: 12px;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-bottom: 2px;
  align-items: center;
  margin: 0%;
}
.nav ul li ul.dropdown li {
  display:list-item;
}
.nav  li ul.dropdown {
  display:none;
  z-index: 999;
}
.nav ul li:hover .dropdown {
  display: block;
  position: absolute;
  background: rgba(245, 238, 238, 0.393) ;
  padding: 15px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.text {
  margin-top: 100px;
  color: white;
  border-left: 5px solid ;
  text-align: left;
  padding-left: 29px;
  font-size: large ;
  margin-left: 500px;
  font-style: solid ;
}
.button button {
  background-color: #0000007e;
  padding-left: 35px;
  padding-right: 35px ;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.61);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-style:solid;
  margin-top: 10px;
  margin-left:80%;
  border: 0px ;
  border-style:groove ;
  font-size: x-large;
}
.main{
  text-align: center;
  margin-top:30px ;
}
.flexrow{
  justify-content: center;
  display: flex;
}
.foot  {
  display: block;
  margin-top: 40px;
  margin-left:  2px; ;
  padding: 40px ;
  color: rgb(245, 240, 240);
  background-color:rgba(245, 238, 238, 0.105);
}
.foot p {
  margin-left: -110px;
  text-align: center;
}
.carou {
  padding-bottom: 250px;
}
.image{
  width :47% ;
}
.image img {
  margin-left: 400px;
  margin-top: 40px;
}